<div id="settingsPanel">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand settings-logo"></div>
      </div>
      <div class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation" id="showKeyRing" class="active"><a href="#keyring" id="keyringButton" aria-controls="keyring" role="tab" data-toggle="tab" data-l10n-id="keyring_header"></a></li>
            <li role="presentation" id="showKeySettings"><a href="#settings" id="settingsButton" aria-controls="settings" role="tab" data-toggle="tab" data-l10n-id="options_home"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.mailvelope.com/help" target="_blank" rel="noreferrer" data-l10n-id="options_docu"></a></li>
            <li><a href="https://www.mailvelope.com/about" target="_blank" rel="noreferrer" data-l10n-id="options_about"></a></li>
            <!--li><div class="" id='secureCode'></div></li-->
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tab-content">
    <div class="tab-pane fade active in" role="tabpanel" id="keyring">
      <div class="col-md-3">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="keyringSwitcher" data-toggle="dropdown" aria-expanded="true" style="width: 100%; text-align: left; margin-bottom: 10px;">
            <span class="caret pull-right" id="keyringSwitcherCaret"></span>
            <span id="keyringSwitcherLabel"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="keyringList">
            <li role="presentation" class="flex-container">
              <a role="menuitem" tabindex="-1" class="flex-item keyRingName"></a>
              <a class="btn btn-link pull-right flex-item deleteKeyRing"><span class="glyphicon glyphicon-trash"></span></a>
            </li>
          </ul>
        </div>
        <div class="list-group">
          <a class="list-group-item" href="#displayKeys" data-toggle="tab" data-l10n-id="keyring_display_keys" id="displayKeysButton"></a>
          <a class="list-group-item" href="#importKey" data-toggle="tab" data-l10n-id="keyring_import_keys" id="importKeyButton"></a>
          <!--a class="list-group-item" href="#exportKeys" data-toggle="tab" data-l10n-id="keyring_export_keys" id="exportKeysButton"></a-->
          <a class="list-group-item" href="#generateKey" data-toggle="tab" data-l10n-id="keyring_generate_key" id="generateKeyButton"></a>
          <a class="list-group-item" href="#setupProvider" data-toggle="tab" data-l10n-id="keyring_setup" id="setupProviderButton"></a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content jumbotron secureBackground" id="settingsArea">
          <div id="displayKeys" role="tabpanel" class="tab-pane fade well"></div>
          <div id="importKey" role="tabpanel" class="tab-pane fade well"></div>
          <div id="exportKeys" role="tabpanel" class="tab-pane fade well"></div>
          <div id="generateKey" role="tabpanel" class="tab-pane fade well"></div>
          <div id="setupProvider" role="tabpanel" class="tab-pane fade well"></div>
          <button class="btn btn-link pull-right secureBgndSettingsBtn lockBtnIcon" data-l10n-title-id="security_background_button_title" disabled="disabled"></button>
        </div>
      </div>
    </div><!--/keyring-->
    <div class="tab-pane fade" role="tabpanel" id="settings">
      <div class="col-md-3">
        <div class="list-group" id="settingsList">
          <a class="list-group-item active" href="#general" data-toggle="tab" data-l10n-id="settings_general" id="generalButton"></a>
          <a class="list-group-item" href="#security" data-toggle="tab" data-l10n-id="settings_security" id="securityButton"></a>
          <a class="list-group-item" href="#watchList" data-toggle="tab" data-l10n-id="settings_watchlist" id="watchListButton"></a>
          <a class="list-group-item" href="#securityLog" data-toggle="tab" data-l10n-id="settings_security_log" id="securityLogButton"></a>
          <!--a class="list-group-item" href="#backup" data-toggle="tab" data-l10n-id="settings_backup" id="openBackup"></a-->
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content jumbotron secureBackground">
          <div id="general" role="tabpanel"class="tab-pane fade well active in"></div>
          <div id="security" role="tabpanel" class="tab-pane fade well"></div>
          <div id="watchList" role="tabpanel" class="tab-pane fade well"></div>
          <div id="securityLog" role="tabpanel" class="tab-pane fade well"></div>
          <div id="backup" role="tabpanel" class="tab-pane fade well"></div>
          <button class="btn btn-link pull-right secureBgndSettingsBtn lockBtnIcon" data-l10n-title-id="security_background_button_title" disabled="disabled"></button>
        </div>
      </div>
    </div><!--/settings-->
  </div><!--/tab-content-->
  <footer class="row">
    <p class="pull-left col-md-6">&copy; 2012-2016 Mailvelope GmbH</p>
    <div id="version" class="pull-right col-md-6"></div>
  </footer>
</div><!--/container-->
