/**
 * Mailvelope - secure email with OpenPGP encryption for Webmail
 * Copyright (C) 2012-2015 Mailvelope GmbH
 */

:root .m-extract-frame {
  background-position: center center, center center;
  background-image: none, none;
  transition: background-position 0.5s ease, background-image 0.5s ease;
  background-color: rgba(254,251,243,.8);
  background-repeat: no-repeat;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
}

:root .m-extract-frame.m-decrypt {
  background-image: url('../../img/mail_locked_96.png'), none;
}

:root .m-extract-frame.m-verify {
  background-image: url('../../img/mail_signed_96.png'), none;
  background-size: 80px, 80px;
}

:root .m-extract-frame.m-open.m-verify {
  background-position: center center;
  background-size: 80px, 80px;
}

:root .m-extract-frame.m-import {
  background-image: url('../../img/key-icon-blue96.png'), none;
}

:root .m-extract-frame.m-open {
  background-position: 20px center, center center;
  background-size: 80px, 48px;
}

:root .m-extract-frame.m-open.m-decrypt {
  background-image: url('../../img/mail_open_96.png'), none;
}

:root .m-extract-frame.m-open.m-import {
  background-image: url('../../img/key-icon-blue96.png'), url('../../img/loading.gif');
}

:root .m-extract-frame.m-open.m-import.m-ok {
  background-image: url('../../img/key-icon-blue96.png'), url('../../img/ok48.png');
}

:root .m-extract-frame.m-open.m-import.m-warning {
  background-image: url('../../img/key-icon-blue96.png'), url('../../img/warning48.png');
}

:root .m-extract-frame.m-open.m-import.m-error {
  background-image: url('../../img/key-icon-blue96.png'), url('../../img/no48.png');
}

:root .m-extract-frame.m-large {
  background-position: center 140px, center 156px;
}

:root .m-extract-frame.m-large.m-open {
  background-position: 20px 140px, center 156px;
}



:root div.m-encrypt-frame[id^="eFrame"] {
  background: rgba(254,251,243,.8);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  position: absolute;
  top: 5px;
  white-space: nowrap;
  font-size: 0;
  display: none;
  z-index: 11;
}

:root .m-encrypt-frame .m-encrypt-button {
  height: 48px;
  width: 48px;
  min-width: 48px;
  padding: 3px;
  margin: 3px 0 3px 3px;
  line-height: 0;
}

:root .m-encrypt-frame .m-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

:root .m-encrypt-frame .m-icon-undo {
  background-image: url('../../img/undo-22.png');
}

:root .m-encrypt-frame .m-icon-editor {
  background-image: url('../../img/mail_new.png');
}

:root .m-decrypt.m-cursor {
  cursor: url('../../img/key-24.png'), auto;
}

:root .m-verify.m-cursor {
  cursor: url('../../img/verify-24.png'), auto;
}

:root .m-import.m-cursor {
  cursor: url('../../img/edit_add-22.png'), auto;
}

:root .m-extract-frame .m-frame-dialog {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

:root .m-frame-close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  position: relative;
  right: 3px;
  z-index: 1;
  text-decoration: none !important;
  font-family: arial, sans-serif;
}

:root .m-frame-close:hover {
  color: #000000;
  opacity: 0.4;
  cursor: pointer !important;
  text-decoration: none !important;
}

:root .m-encrypt-frame .m-frame-close {
  margin-left: 10px;
}

:root .m-frame-fill-right {
  float: right;
  width: 4px;
}


/*!
 * Bootstrap v2.1.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

:root button.m-btn {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #bbbbbb;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

:root button.m-btn:hover,
:root button.m-btn:active,
:root button.m-btn.active,
:root button.m-btn.disabled,
:root button.m-btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}

:root button.m-btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

:root button.m-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

:root button.m-btn.active,
:root button.m-btn:active {
  background-color: #e6e6e6;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

:root button.m-btn.disabled,
:root button.m-btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
